Utility Scripts/Automated Permission Checker/files/*.xlsx
Utility Scripts/Automated Permission Checker/files/*.html
Utility Scripts/Automated Permission Checker/libraries/*.xlsx
Utility Scripts/Automated Permission Checker/.vs
Utility Scripts/.vs/

