<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8"/>
    <title></title>
    <style></style>
</head>
<body style="font-family: calibri;">
    Prezado,
    <br><br>
    verifique abaixo os grupos de pessoas que têm permissão de acesso à pasta :department: (:folder:) do servidor de arquivos.
    <br><br>
    :groups:
    :permissions:
    <br><br>
    Caso seja necessária alguma alteração, solicite por meio do Catálogo de Serviços de TI da UFRGS, neste link:
    <br>
    <a href="https://www1.ufrgs.br/catalogoti/servicos/acessoServico?servico=295">https://www1.ufrgs.br/catalogoti/servicos/acessoServico?servico=295</a>
    <br><br>
    Caso tenha recebido esse e-mail por engano, por favor, entre em contato com a Divisão de TI pelo e-mail: <a href="mailto:dti-cln@ufrgs.br">dti-cln@ufrgs.br</a>.
    <br><br>
    Ficamos à disposição para maiores informações.
    <br>
    --
    <br>
    <strong>
        Divisão De Tecnologia Da Informação Do Campus Litoral Norte
    </strong>
    <br>
    <a href="mailto:dti-cln@ufrgs.br">dti-cln@ufrgs.br</a>
    <br>
    (51) 3308-5333
    <br>
    <a href="https://www1.ufrgs.br/catalogoti/"> <img src="images/image001.jpg" alt="Solicite atendimento clicando aqui" /> </a>
    <a href="https://www1.ufrgs.br/portalservicos/portalservicoslogin.php?Destino=e19685b7257b45a8f87f5d81026fa9ac"> <img src="images/image002.jpg" alt="Avalie nosso atendimento clicando aqui" /> </a>
    <a href="https://www1.ufrgs.br/portalservicos/portalservicoslogin.php?Destino=b7720da9b5e42761ac9037e8db3b639f&var1=DTICLN"> <img src="images/image003.jpg" alt="Envie sugestões, elogios, críticas e comentários clicando aqui" /> </a>
</body>
</html>
