<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8"/>
    <title></title>
    <style></style>
</head>
<body style="font-family: calibri;">
    Prezada Chefia,
    <br><br>
    a DTICLN está realizando uma verificação nas permissões de acesso das pastas dos departamentos.
    <br>
    O processo consiste na revisão das pastas e confirmação dos acessos atuais, permitindo que somente as pessoas autorizadas tenham acesso a pasta departamental, uma vez que o sistema não realiza atualização de todas as permissões de forma automática.
    <br>
    Para que possamos atualizar os acessos, pedimos que confirme (ou atualize) as seguintes permissões para os seguintes grupos:
    <br>
    :groups:
    :permissions:
    <br>
    Aguardamos a resposta,
    <br>
    -- 
    <br>
    Divisão De Tecnologia Da Informação Do Campus Litoral Norte
    <br>
    Telefones: (51) 3308-1328 (André) / (51) 3308-1333 (Marcelo) / (51) 3308-1334 (Bianca) / (51) 3308-1339 (Carlos)
    <br>
    <a href="mailto:dti-cln@ufrgs.br">dti-cln@ufrgs.br</a>
    <br>
    <a href="https://www1.ufrgs.br/portalservicos/portalservicoslogin.php?Destino=e19685b7257b45a8f87f5d81026fa9ac">Avalie nosso atendimento clicando aqui</a>
</body>
</html>
